<div class="container-fluid bg-dark">
    <ul ngbNav #nav="ngbNav" class="nav-buttons d-flex justify-content-between bg-dark fixed-top pt-2">
        <li ngbNavItem>
            <a ngbNavLink>MiMi</a>
            <ng-template ngbNavContent><feed></feed></ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Home</a>
            <ng-template ngbNavContent><feed></feed></ng-template>
        </li>
        <li ngbNavItem>
            <logout (newItemEvent)="clearStorage($event)"></logout>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div>
