<div class="container-fluid bg-dark">
    <div ngbNav #nav="ngbNav" [(activeId)]="activeId"class="d-flex justify-content-left bg-dark fixed-top pt-2">
        <div ngbNavItem >
            <a ngbNavLink class="text-light np"><b>MiMi</b></a>
        </div>
        <div ngbNavItem [ngbNavItem]="1">
            <a ngbNavLink><b>Home</b></a>
            <ng-template ngbNavContent>
                <feed></feed>
            </ng-template>
        </div>
        <div ngbNavItem *ngIf="this.jwtService.isAdmin()">
            <a ngbNavLink><b>Manage User</b></a>
            <ng-template ngbNavContent>
                <manage-user></manage-user>
            </ng-template>
        </div>
        <div ngbNavItem>
            <a ngbNavLink class="text-muted np">@{{username}}</a>
        </div>
        <div ngbNavItem>
            <a ngbNavLink (click)="logout()" class="text-danger"><b>Logout</b></a>
        </div>
    </div>
    <div [ngbNavOutlet]="nav"></div>
</div>