<div class="pt-2">
    <add-post *ngIf="this.jwtService.isAdmin() === false" class="addPostBtn"
        (updateFeedToShowForm)="updatePostFormStatus($event)"></add-post>

    <refresh (reload)="reload($event)" class="refreshBtn"></refresh>
    <post-form *ngIf="openPostForm" (throwNotification)="displayNotification($event)"
        (throwResponse)="updateResponse($event)" (onClose)="closePostForm($event)">
    </post-form>

    <notification class="notification" *ngIf="showNotification" [message]="notificationMessage"
        (onCloseNotification)="closeNotification($event)">
    </notification>

    <div class="container w-50 pt-5 pb-5">
        <div *ngFor="let eachContent of contentList">
            <toast (throwPostIdToFeed)="getPostId($event)" [content]="eachContent"></toast>
        </div>
    </div>
    <div class="container post" *ngIf="postId && showIndividualPost">
        <individual-post [individualPostId]="postId" (destroyPostComponent)="componentToDestroy($event)"
            (throwNotification)="displayNotification($event)" (throwResponse)="updateResponse($event)">
        </individual-post>
    </div>
</div>
<loading *ngIf="loadingStatus" class="loading"></loading>