<div class="bg-black pt-2">
    <add-post class="addPostBtn" (updateFeedToShowForm)="updatePostFormStatus($event)"></add-post>

    <post-form *ngIf="openPostForm" (throwNotification)="displayNotification($event)"
        (throwResponse)="updateResponse($event)" (onClose)="closePostForm($event)">
    </post-form>

    <notification class="notification" *ngIf="showNotification" [message]="notificationMessage"
        (onCloseNotification)="closeNotification($event)">
    </notification>

    <div class="container w-50 bg-black">
        <div *ngFor="let eachContent of contentList">
            <toast (throwPostIdToFeed)="getPostId($event)" [content]="eachContent"></toast>
        </div>
    </div>
    <button class="btn btn-primary w-100" (click)="onClickLoadNextPage($event)">Load data!</button>
    <div class="container post" *ngIf="postId && showIndividualPost">
        <individual-post [individualPostId]="postId" (destroyPostComponent)="componentToDestroy($event)">
        </individual-post>
    </div>
</div>