.addPostBtn {
    position: fixed;
    float: right;
    top: 85%;
    right: 5%;
    z-index: 1;
}

.refreshBtn {
    position: fixed;
    float: right;
    top: 10%;
    right: 5%;
    z-index: 1;
}

.notification {
    position: fixed;
    top: 5%!important;
    bottom: auto!important;
    right: 0!important;
    left: auto!important;
    margin: 1.3em;
    z-index: 1200;
}
          
.post {
    position: fixed;
    top: 0!important;
    bottom: auto!important;
    right: auto!important;
    left: auto!important;
    z-index: 1100;
}

.loading {
    position: fixed;
    float: right;
    top: 50%;
    right: 50%;
    z-index: 1;
}