:host
{
  display: block;
  height: 100vh;
  background-image: url("../background.png");
}

.cardProp {
    background-color: #282828;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75vw;
}
