<div class="container">
<div class="card cardProp">
    <div class="card-body text-center">
      <h5 class="card-title text-light">Connect the world with MiMi</h5>
      <p class="card-text  text-light">Join MiMi today</p>
      <div class=" d-flex justify-content-center">
        <div class="col-md-1 me-5">
            <button class="btn btn-success " (click)="onClickGoToRegister()">Register</button>
          </div>
          <div class="col-md-1">
            <button class="btn btn-primary" (click)="onClickGoToLogin()">Login</button>
          </div>
      </div>
    </div>
  </div>
</div>