<div class="container ">
    <div class="card">
        <div class="card-header">
            Sign In
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmitLogin()" ngNativeValidate>
                <div class="form-group mb-4">
                    <input type="text" required class="form-control" [ngClass]="genericResponse.message ? 'is-invalid': '' " id="username" name="username"
                        placeholder="Username" maxlength="50" [(ngModel)]="user.username">
                </div>
                <div class="form-group mb-2">
                    <input type="password" required class="form-control" [ngClass]="genericResponse.message ? 'is-invalid': '' " id="password" name="password"
                        placeholder="Password" maxlength="16" [(ngModel)]="user.password">
                </div>
                <div class="form-group mb-2 text-center" *ngIf="genericResponse.message">
                    <small class="text-danger">{{genericResponse.message}}</small>
                </div>
                <div class="form-group mb-4 text-center">
                    <button type="submit" class="btn btn-dark w-100">Login</button>
                </div>
                <div class="text-center pb-3">
                    <button class="btn btn-success w-100" (click)="goToRegister()">Don't have an account? Register
                        here</button>
                </div>
            </form>
        </div>
    </div>
</div>