<ngb-toast [autohide]="false" class="mt-5 w-100" (click)="viewPost()">
    <ng-template ngbToastHeader>
        <div class="me-auto">
            <div class="mx-1">
                <div class="text-primary fs-3">{{content?.name}}</div>
                <small class="text-muted">@{{content?.username}}</small>
            </div><br>
            <strong>{{content?.caption}}</strong>
        </div>
    </ng-template>
    <object *ngIf="content?.hyperLink" width="100%" height="100vh" [data]="hyperLinkUrl"></object>
    <object *ngIf="content?.mediaLink" width="100%" height="100vh" [data]="mediaLinkUrl"></object>
</ngb-toast>