<div class="container-fluid pt-5">
    <div>
        <div>
            <!-- Search form -->
            <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form mt-0">
                    <input class="form-control mr-sm-2" type="text" name="searchText" placeholder="Search username, email or name" (input)="activateSearch($event)" [(ngModel)]="searchText">
                </div>
            </form>
        </div>
        <table class="table table-hover fontSize">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Modified By</th>
                    <th scope="col">Modified Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let content of pageWithContent[pageNumber - 1]">
                    <th scope="row">{{content.id}}</th>
                    <td>{{content.email}}</td>
                    <td>{{content.username}}</td>
                    <td>{{content.name}}</td>
                    <td>{{content.role === 1 ? "USER" : "ADMIN"}}</td>
                    <td>{{content.createdBy}}</td>
                    <td>{{content.creationDate | date:'short'}}</td>
                    <td>{{content.lastModifiedBy}}</td>
                    <td>{{content.lastModifiedDate | date:'short'}}</td>
                    <td>{{content.deleteFlag === 0 ? "ACTIVE" : "DELETED"}}</td>
                    <td>
                        <button [ngClass]="[content.deleteFlag === 0 ? 'btn-danger' : 'btn-warning']"
                            (click)="updateStatus(content.deleteFlag!, content.id!)"
                            class="btn btn-primary">{{content.deleteFlag === 1 ?
                            "ACTIVATE": "DEACTIVATE"}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <ngb-pagination [collectionSize]="this.totalElements!" [(page)]="pageNumber" (pageChange)="verifyLoadStatus()">
        </ngb-pagination>
        <hr>
    </div>
</div>